<nav class="navbar navbar-expand-lg navbar-light" style="background-color: black !important;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <button *ngIf="isLoggedIn" class="btn btn-danger" (click)="onLogout()" [routerLink] ="['/login']" routerLinkActive="router-link-active">Logout</button>
  <button *ngIf="isLoggedIn" class="btn btn-info" [routerLink] ="['/student-list']" routerLinkActive="router-link-active" >Students</button>
  <button *ngIf="isLoggedIn" class="btn btn-info" [routerLink] ="['/subject-list']" routerLinkActive="router-link-active" >Subjects</button>
  <button *ngIf="isLoggedIn" class="btn btn-primary" [routerLink] ="['/']" routerLinkActive="router-link-active" >Home</button>
  <div class="collapse navbar-collapse" style="color:white;" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link tags" href="#" (click)="selectStudents()">Studenti</a>
     
      <a class="nav-item nav-link tags" href="#">Profilul meu</a>
    </div>
    
  </div>
</nav>